section.main
    .container.main__row
        .main__column
            h1.main__caption
                span Путешествие
                |&#8197;на красную планету
            a.main__link(href="#" tabindex="0") Начать путешествие
                div
                    span
                    span
                div
                    span
                    span
        .main__column
            .main__list
                a.main__item-link(href="#" tabindex="0")
                    div мы <b>1</b> ны рынке
                a.main__item-link(href="#" tabindex="0")
                    div гарантируем <b>50%</b> безопасность
                a.main__item-link(href="#" tabindex="0")
                    div календарик за <b>2001<span>&thinsp;г.</span></b> в подарок
                a.main__item-link(href="#" tabindex="0")
                    div путешествие <b>597</b> дней


